DATABASE_URL=sqlite:///./cis_benchmarks.db
SECRET_KEY=CHANGEZ-MOI-EN-PRODUCTION
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
APP_NAME=Audity Manager Server
DEBUG=True
AZURE_ENABLED=False
LDAP_ENABLED=False
MFA_ISSUER=Audity Manager Server
SECRET_ENCRYPTION_KEY=CHANGEZ-MOI-EN-PRODUCTION